[submodule "external/openssl"]
	path = external/openssl
	url = git@github.com:guardianproject/openssl-android.git
[submodule "external/sqlcipher"]
	path = external/sqlcipher
	url = git@github.com:guardianproject/sqlcipher-android.git
[submodule "external/dalvik"]
	path = external/dalvik
	url = git://android.git.kernel.org/platform/dalvik.git
[submodule "external/android-sqlite"]
	path = external/android-sqlite
	url = git://android.git.kernel.org/platform/external/sqlite.git
[submodule "external/platform-system-core"]
	path = external/platform-system-core
	url = git://android.git.kernel.org/platform/system/core.git
[submodule "external/platform-frameworks-base"]
	path = external/platform-frameworks-base
	url = git://android.git.kernel.org/platform/frameworks/base.git
[submodule "external/icu4c"]
	path = external/icu4c
	url = git://android.git.kernel.org/platform/external/icu4c.git
[submodule "notepadbot"]
  path = dist/SQLCipherForAndroid-SDK/samples/notepadbot
  url = git://github.com/guardianproject/notepadbot.git
