.gradle
build
.DS_Store
android-database-sqlcipher/src/main/external/sqlcipher
android-database-sqlcipher/src/main/external/openssl
android-database-sqlcipher/src/main/external/android-libs/
android-database-sqlcipher/.externalNativeBuild/
android-database-sqlcipher/src/main/libs*
android-database-sqlcipher/src/main/obj
android-database-sqlcipher/src/main/external/openssl-*/

local.properties
*.iml
.idea